/* ---------------------------------------------------- */
/* ----- HEADER ----- */
/* ---------------------------------------------------- */

.logo {
  width: 80%;
  margin: 0 auto;
}

/* ---------------------------------------------------- */
/* ----- MEDIA QUERIES -- HEADER ----- */
/* ---------------------------------------------------- */

@media #{$mobile_land__640} {}

@media #{$tablet__768} {}

@media #{$tablet_land__1024} {
  .logo {
    width: 50%;
  }
}

@media #{$desktop__1280} {}

@media #{$large__screens__1440} {}

@media #{$full__screens__1600} {}

/* ----- END OF HEADER ----- */